# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=booking
DB_USER=booking
DB_PASSWORD=change_me

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Вероятность сбоя подтверждения
FAILURE_RATE=0.15

# Rate limiting
RATE_LIMIT_TIMES=5
RATE_LIMIT_SECONDS=60

# Логи
LOG_LEVEL=INFO
